.card {
    width: 300px;
    height: 660px;
    background-color: burlywood;
    border-radius: 10px;
}

.photo {

    padding: 1px;
    position: relative;
    left: 16%;
    top: 25px;
    border-radius: 14%;
}

.info {
    height: 20%;
    padding: 20px;
    position: relative;
    top: 1px;
}
.photo img {
    width: 60%;
    border-radius: 10%;
}
